<!-- Material form contact -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Login</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <!-- Name -->
            <div class="md-form mt-3">
                <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username">
            </div>

            <div class="md-form mt-3">
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
            </div>

            <!-- Send button -->
            <button [disabled]="!loginForm.valid" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Login</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->